<div class="base-page">
  <div class="headline-card">
    <h1>Contact</h1>
      <div class="two-cols">
        <div style="width: 40%">
          <p>We’d love to hear from you! Whether you have a question, need support, or just want to share feedback, we’re here to help. <br><br>📍<b>Headquarters</b>
            <br>
            Visit or send us mail at:
            <br>
            808 Music Inc.
            <br>
            123 Soundwave Blvd.
            <br>
            Melody City, CA 90001
            <br>
            <br>
            🌐<b>Social Media</b>
            <br>
            Stay connected and keep the conversation going:
            <br>
            Twitter: &#64;808Music
            <br>
            Instagram: &#64;808Music
            <br>
            Facebook: facebook.com/808Music
            <br>
            <br>
            We value your input and are committed to providing you with the best experience possible. Don’t hesitate to get in touch!</p>
        </div>
        <div style="width: 40%">
          <p>📞 <b>Customer Support</b><br>

            For assistance with your account or streaming issues, reach out to our support team:<br>

            Phone: +1 (800) 808-1234<br>
            Email: support&#64;808music.com<br><br>
            💼 <b>Business Inquiries</b><br>

            Interested in partnerships, advertising, or collaborations? Contact us here:<br>

            Email: business&#64;808music.com<br>
            Form: 808music.com/business-inquiries<br><br>
            🎵 <b>Artist Support</b><br>

            Are you an artist looking to share your music on our platform or have questions about your profile? We’re here to assist:<br><br>

            Artist Portal: 808music.com/artist<br>
            Email: artist&#64;808music.com.</p>
        </div>
  </div>
  </div>
</div>
