@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/monoton/v20/5h1aiZUrOngCibe4TkHLQg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

div {
  color: white;
}
h1 {
  padding: 0;
  margin: 0;
}

.nav-logo-text {
  font-family: Monoton;
  color: white;
}

h6 {
  letter-spacing: 12px;
  padding: 0;
  margin: 0;
  padding-left: 12px;
  font-size: 14px;
}

.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navbar-cont {
  height: 17vh;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.6);
  position: relative;
}

.nav-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.nav-link {
  font-size: 20px;
}

.nav-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.page-host {
  height: 80vh;
}

.footer {
  height: 5vh;
  background-color: #242424;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #EEDEE7;
}

.base-page {
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.lang-select {
  position: absolute;
  right: 10px;
  top: 25px;
}

.active {
  text-decoration: underline;
}

