

<!--
<link href="/css/shared-style.css" rel="stylesheet"/>
<link href="/css/1header.css" rel="stylesheet"/>
<link href="/css/2search.css" rel="stylesheet"/>
<link href="/css/3offers.css" rel="stylesheet"/>
<link href="/css/4details.css" rel="stylesheet"/>
<link href="/css/5cities.css" rel="stylesheet"/>
<link href="/css/6contact.css" rel="stylesheet"/>
<link href="/dialog/fit-dialog.css" rel="stylesheet"/>

<div class="nav">

  <div class="logo">
    808 Music
  </div>
  <div class="menu">
    <ul>
      <li routerLink="/public/home" routerLinkActive="active">Home</li>
      <li><a mat-flat-button routerLink="/artist/album" routerLinkActive="active">Albums CRUD</a></li>
      <li><a mat-flat-button routerLink="/product-list" routerLinkActive="active">Products CRUD</a></li>
      <li routerLink="/public/blog" routerLinkActive="active">Blog</li>
      <li routerLink="/public/contact-us" routerLinkActive="active">Contact us</li>
    </ul>
    <h3>(Za prvo pokretanje) Pokrenuti DataSeedGenerateEndpoint preko swaggera prije pritupanju CRUD formi</h3>

  </div>
  <div class="user-profile" routerLink="/auth/login">
    <span>Login</span>
    <img src="images/user.png">
  </div>
</div>

-->
<div class="navbar-cont">
  <div class="nav-logo">
    <h1 class="nav-logo-text">808</h1>
    <h6>MUSIC</h6>
  </div>
  <div class="nav-links">
    <div class="nav-link" routerLink="/public/home" routerLinkActive="active">Home</div>
    <div>|</div>

    <div class="nav-link" routerLink="/public/about" routerLinkActive="active">About Us</div>
    <div>|</div>

    <div class="nav-link" routerLink="/public/contact-us" routerLinkActive="active">Contact</div>
  </div>
</div>
<div class="page-host">
  <router-outlet></router-outlet>
</div>
