<div class="base-page flex-page">
  <div class="select-page">
    <div class="title">
      <h1 class="title-playlist">Your playlists</h1>
    </div>

    <div class="flex-controls">
      <mat-card class="add-playlist" appearance="outlined" (click)="createPlaylist()">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title>New Playlist</mat-card-title>
            <mat-icon>add_circle</mat-icon>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content></mat-card-content>
      </mat-card>
    </div>

    <div class="flex-container">

      <div class="row" *ngFor="let playlist of playlists || []">
        <app-playlist-card matTooltip="{{ playlist.title }}" matTooltipPosition="below" [title]="playlist.title"
                           [imageUrl]="MyConfig.media_address + playlist.coverPath"
                           [username]="playlist.ownerUsername"
                           [id]="playlist.id"
                           [hasControls]="false"
                           (onDelete)="deletePlaylist(playlist.id)"
                           (onEdit)="editPlaylist(playlist.id)"
                           (onClick)="openPlaylist(playlist.id)"
                           (onPlayClick)="startPlaylist($event, playlist)">
        </app-playlist-card>
      </div>
    </div>
  </div>


</div>
