.followage-pfp{
  margin-top: 0.5vw;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  width: 9vw;
  height: 9vw;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  margin-left:auto;
  margin-right: auto;}
.followage-section{
  display: flex;
  flex-direction: row;
  background-color: rgba(22, 18, 21, 0.03);
  border-radius: 15px;
}
.button{
  right: 2vw;
  position: absolute;
  font-weight: bold;
  bottom: 1vw;
  background-color: transparent;
  color: #fafafa;
  width: 7vw;
  height: 2vw;
  border: #fdfdfd solid 2px;
  border-radius: 20px;
  cursor: pointer;

}
.unfollow-button{
  right: 2vw;
  font-weight: bold;
  position: absolute;
  bottom: 1vw;
  background-color: transparent;
  color: #fafafa;
  width: 7vw;
  height: 2vw;
  border: #fdfdfd solid 2px;
  border-radius: 20px;
  cursor: pointer;

}
.button:hover{
  background-color: white;
  color: black;

}
.profile-info{
  position: absolute;
  bottom: 0;
  left: 18.5vw;
  margin-bottom: 1vw;

}
.big-names
{
  margin-top: 1.5vw;
  font-weight: 500;
  text-transform: uppercase;
}
.big-names:hover{
  cursor: pointer;
  text-decoration: underline;
}
h2{
  margin: 0;
}
.profile-header
{
  background-color: #161215;
  border-radius: 25px;
  position:relative;
  border: 1px solid #444444;
  transition: background-color 0.3s ease;
}
.profile-undertext{
  color: #b3b3b3;
  font-size: 0.8em;
}
.color-picker-container {
  margin-top: 1vw;
}

#colorPicker {
  margin-left: 10px;
  cursor: pointer;
  border-style: none;


}
.followersnfollowing{
  margin-left: 0.5vw;

}
.followersnfollowing:hover{
  text-decoration: underline;
  cursor: pointer;
}
.profile-stats{
  margin-top: 2vw;
  display: flex;
  font-weight: 480;
  flex-direction: row;
}
.big-username{
  font-weight: bold;
  font-size: 6.5em;
}
.profile-sections{
  position: relative;
  align-items: end;
  background-color: rgba(22, 18, 21, 0.03);
  justify-content: space-between;
  flex-grow: 0;
  flex-basis: auto;
  display: flex;
  flex-direction: row;}
.user-info{
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 2vw;
  margin-left: 2vw;
}
.profile-img{
  border-radius: 50%;
  width: 18vw;
  height: 18vw;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.username-followage{
  margin: 0;
  margin-top: 0.5vw;
  text-align: left;
  font-size: 1em;
}

.username-followage:hover {
  cursor: pointer;
  text-decoration: underline;
}

.username-profiletype{
  margin-left: 1vw;
}
.user{
  display: flex;
  flex-direction: column;
  width: 10.5vw;
  margin-right: 1vw;
  cursor: pointer;
  background-color: #161215;
  border-radius: 15px;
  border: #4e444b 1px solid;
}
.user:hover{
  background-color: #4D3D50;
  border-radius: 15px;
}
.playlist-row{
  display: flex;
  flex-direction: row;
}
