<div class="checkout-container">
  <h1>Checkout</h1>

  <mat-vertical-stepper [(selectedIndex)]="currentStep" linear>
    <mat-step label="Your Products">
      <section class="order-summary">
        <h2>Order Summary</h2>
        <ul class="order-items">
          <li *ngFor="let item of cartItems">
            <img [src]="MyConfig.media_address + item.productPhoto" alt="Product Image" class="product-photo" />
            <div>
              <h3>{{ item.productTitle }}</h3>
              <p>{{ item.discountedPrice | number: '1.2-2' }}$</p>
              <p>Quantity: {{ item.quantity }}</p>
            </div>
          </li>
        </ul>
        <div class="total">
          <h3>Total: {{ totalPrice | number: '1.2-2'}}$</h3>
        </div>
      </section>
    </mat-step>

    <mat-step label="Shipping Info">
      <form [formGroup]="checkoutForm">
        <div>
          <label for="name">Name</label>
          <input id="name" formControlName="name" type="text" required />
          <div *ngIf="checkoutForm.get('name')?.invalid && checkoutForm.get('name')?.touched">
            <small class="error" *ngIf="checkoutForm.get('name')?.hasError('required')">Name is required.</small>
            <small class="error" *ngIf="checkoutForm.get('name')?.hasError('minlength')">Name must be at least 2 characters long.</small>
            <small class="error" *ngIf="checkoutForm.get('name')?.hasError('pattern')">Name can only contain letters and spaces.</small>

          </div>
        </div>

        <div class="country-place">
          <label for="country">Country</label>
          <select id="country" formControlName="country" required>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
          </select>
          <div *ngIf="checkoutForm.get('country')?.invalid && checkoutForm.get('country')?.touched">
            <small class="error" *ngIf="checkoutForm.get('country')?.hasError('required')">Country is required.</small>
          </div>
        </div>

        <div>
          <label for="city">City</label>
          <input id="city" formControlName="city" type="text" required />
          <div *ngIf="checkoutForm.get('city')?.invalid && checkoutForm.get('city')?.touched">
            <small class="error" *ngIf="checkoutForm.get('city')?.hasError('required')">City is required.</small>
          </div>
        </div>

        <div>
          <label for="phoneNumber">Phone Number</label>
          <input id="phoneNumber" formControlName="phoneNumber" type="text" required />
          <div *ngIf="checkoutForm.get('phoneNumber')?.invalid && checkoutForm.get('phoneNumber')?.touched">
            <small class="error" *ngIf="checkoutForm.get('phoneNumber')?.hasError('required')">Phone number is required.</small>
            <small class="error" *ngIf="checkoutForm.get('phoneNumber')?.hasError('pattern')">Phone number must be 9 digits.</small>
          </div>
        </div>
      </form>


    </mat-step>

    <mat-step label="Payment">
      <div class="stripe-container">
        <h2>Payment</h2>
        <form (ngSubmit)="handleSubmit()">
          <div id="card-element"></div>
          <button type="submit">Pay ${{ totalPrice | number: '1.2-2' }}</button>
        </form>

        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>

        <div *ngIf="paymentSuccess" class="payment-success">
          Payment successful!
        </div>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
