@if(!isProfile){


<div class="artist-music-page">
  <div>
    <h3>{{title}}</h3>
    <div class="album-cards">
      @for (artist of artists; track artist.id; let i = $index) {
        @if (i < 6) {
          <app-artist-big-card [artist]="artist" [numberDescription]="numberDescription"></app-artist-big-card>
        }
      }
      @if (artists != null) {
        @if (artists.length >= 6) {
          <div class="view-all" (click)="viewAll(false)">...</div>
        }
      }
    </div>
  </div>
</div>
}
@else {
  <div class="artist-music-page">
    <div>
      <h3>{{title}}</h3>
      <div class="album-cards">
        @for (artist of artist; track artist.artistId; let i = $index) {
          @if (i < 6) {
            <app-artist-big-card [isForProfile]="true" [artists]="artist" [numberDescription]="numberDescription"></app-artist-big-card>
          }
        }
        @if (artists != null) {
          @if (artists.length >= 6) {
            <div class="view-all" (click)="viewAll(false)">...</div>
          }
        }
      </div>
    </div>
  </div>
}
