<div class="tracks-table">
  <div class="tracks-search-bar" *ngIf="allowPagination">
    <app-search-bar [placeholder]="'Search for a song'" (onSearchChange)="searchTracks($event)"></app-search-bar>
    <div class="controls">
      <button mat-icon-button (click)="openShareSheet()">
        <mat-icon>share</mat-icon>
      </button>
      @if (inArtistMode) {
        @if (artist != null && artist.role !== "Viewer") {
          <button mat-fab extended (click)="emitCreate()">
            <mat-icon>add</mat-icon>
            Add new song
          </button>
        }
      } @else {
        <button mat-icon-button (click)="toggleShuffle()">
          <mat-icon class="shuffle-button">
            @if (!isShuffled) {
              shuffle
            } @else {
              shuffle_on
            }
          </mat-icon>
        </button>
        <button mat-fab (click)="emitCreate()">
          <mat-icon>play_arrow</mat-icon>
        </button>
      }
    </div>
  </div>
  <table mat-table matSort [dataSource]="tracks!">

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let track">{{ getPosition(track.id) }}</td>
    </ng-container>

    <ng-container matColumnDef="main-control">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let track">
        @if (inArtistMode)
        {
          @if (artist != null && artist.role !== "Viewer")
          {
            <button mat-icon-button (click)="emitTrack(track.id)">
              <mat-icon>edit</mat-icon>
            </button>
          }
        } @else {
          <button mat-icon-button (click)="emitTrack(track.id)">
            <mat-icon>play_arrow</mat-icon>
          </button>
        }
      </td>
    </ng-container>


    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let track">

        <div>
          <div class="song-rows">
          @if (isPlaylist){
            <div class="track-cover-container">
              <img class="track-image" [src]="MyConfig.api_address + track.coverPath" alt="Track Cover" />
              @if(isUsersPlaylist){
              <mat-icon *ngIf="showDeleteIcon" class="delete-icon" (click)="removeTrackFromPlaylist(track.id)">delete</mat-icon>
              }
                </div>
          }<div class="song-information">
          <p>{{ track.title }}</p>
          <div class="track-artists">
            <mat-icon class="tracks-explicit-icon" *ngIf="track.isExplicit">explicit</mat-icon>
            <app-clickable-featured-artists [artists]="track.artists"
                                            (onArtistClick)="goToArtistProfile($event)"></app-clickable-featured-artists>
          </div></div></div>
        </div>      </td>

    </ng-container>

    <ng-container matColumnDef="artist-controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let track">
        @if (inArtistMode) {
          @if (artist != null && artist.role !== "Viewer") {
            <!--
            <button mat-icon-button (click)="emitTrack(track.id)">
              <mat-icon>bar_chart</mat-icon>
            </button>
            -->
            <button mat-icon-button (click)="deleteTrack(track.id)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        } @else {
          <button mat-icon-button (click)="addToLikedSongs(track.id)">
            <mat-icon>{{ getLikeIcon(track.id) }}</mat-icon>
          </button>
        }

      </td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef class="track-table-duration-cell"> Duration</th>
      <td mat-cell *matCellDef="let track"
          class="track-table-duration-cell"> {{ track.length | secondsToDurationString }}
      </td>
    </ng-container>

    <ng-container matColumnDef="streams">
      <th mat-header-cell *matHeaderCellDef class="track-table-streams-cell"> Streams</th>
      <td mat-cell *matCellDef="let track" class="track-table-streams-cell"
          (click)="displayControls(true)"> {{ track.streams }}
      </td>
    </ng-container>



      <ng-container matColumnDef="add-to-playlist-controls">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let track">
        @if (!inArtistMode) {
        <button mat-icon-button [matMenuTriggerFor]="menu" (click)="toggleDropdown(track.id)">
          <mat-icon>playlist_add</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
          <div class="queue_btn">
            <button class="queue_btn" mat-menu-item (click)="addToQueue(track)">
              Add to queue
              <mat-icon>queue_music</mat-icon>
            </button>
          </div>
          <mat-divider></mat-divider>
          <h6 class="menu-title">Add to playlist:</h6>

          <button mat-menu-item *ngFor="let playlist of playlists" (click)="addToPlaylist(playlist.id)">
            <div class="dropdown-stuff">
              <img class="playlist-cover" [src]="MyConfig.media_address + playlist.coverPath" alt="">
              <p class="pl-title">{{ playlist.title }}</p>
              <mat-checkbox
                [checked]="isTrackInPlaylist(track.id, playlist.id)"
              >
              </mat-checkbox>
            </div>
          </button>

        </mat-menu>

        }
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  @if (allowPagination) {
    <mat-paginator showFirstLastButtons [pageSize]="pagedRequest.pageSize" [length]="pagedResponse?.totalCount"
                   [pageSizeOptions]="paginationOptions" (page)="setPageOpitions($event)"></mat-paginator>
  }
</div>
