<div class="login-page">
  <div class="login-container">
    <h2>Change password - 808 Music</h2>
    <form (ngSubmit)="resetPassword()" *ngIf="!sentRequest">

      <div class="form-group">
        <label for="password">New password:</label>
        <input [(ngModel)]="resetRequest.password" id="password" name="password" required type="text" (input)="validatePassword()" class="">
      </div>

      <div class="form-group">
        <label for="repeatPassword">Repeat new password:</label>
        <input [(ngModel)]="repeatPassword" id="repeatPassword" name="repeatPassword" required type="text" (input)="validateIfSamePassword()" class="">
      </div>

      <button class="login-button" type="submit" [disabled]="checkButton()">Change password</button>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    <button *ngIf="!sentRequest" class="login-button" routerLink="/">Back to home</button>
    <div *ngIf="sentRequest" class="success-div">
      <h6>{{ successText }}</h6>
      <button class="login-button" routerLink="../login">Go to login</button>
    </div>
    <!--<button class="login-button" type="submit" (click)="LogData()">Show me</button>-->
  </div>
</div>
