<div class="login-page">
  <div class="login-container">
    <div class="logo" [ngStyle]="{'background-image': 'url(/images/logo_qr.png)'}"></div>
    <h2>Change password</h2>
    <form (ngSubmit)="resetPassword()" *ngIf="!sentRequest">

      <div class="form-group">
        <label for="password">New password:</label>
        <input [(ngModel)]="resetRequest.password" id="password" name="password" required type="text"
               (input)="validatePassword()" class="">
      </div>

      <pass-strength-meter [password]="resetRequest.password"></pass-strength-meter>

      <div class="form-group">
        <label for="repeatPassword">Repeat new password:</label>
        <input [(ngModel)]="repeatPassword" id="repeatPassword" name="repeatPassword" required type="text"
               (input)="validateIfSamePassword()" class="">
      </div>

      <div class="dual-controls">
        <button *ngIf="!sentRequest" mat-stroked-button routerLink="/">Back to home</button>
        <button mat-flat-button type="submit" [disabled]="checkButton()">Change password</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    <div *ngIf="sentRequest" class="success-div">
      <h6>{{ successText }}</h6>
      <button mat-stroked-button routerLink="../login">Go to login</button>
    </div>
    <!--<button class="login-button" type="submit" (click)="LogData()">Show me</button>-->
  </div>
</div>
