<div class="artist-page">
  <div class="banner-controls">
    <div class="banner"
         [ngStyle]="{'background-image': 'url('+ MyConfig.api_address + artist?.profileBackgroundPath+')'}"></div>
    <div class="banner-gradient"></div>
    <button mat-raised-button class="back-button" (click)="goBack()">
      <mat-icon>arrow_back</mat-icon>
      Back
    </button>
    <div class="controls">
      <div class="name">
        <button mat-icon-button (click)="shufflePlay()" class="shuffley">
          <mat-icon>@if (musicPlayerService.isShuffled) {
            shuffle_on
          } @else {
            shuffle
          }</mat-icon>
        </button>
        @if (!isPlayingThisAlbum)
        {
          <button mat-fab (click)="playArtist()">
            <mat-icon>play_arrow</mat-icon>
          </button>
        } @else {
          <button mat-fab (click)="musicPlayerService.togglePlayState()">
            <mat-icon>{{playingState ? 'pause' : 'play_arrow'}}</mat-icon>
          </button>
        }
        <h2>{{ artist?.name }}</h2>
      </div>
      <div class="actions">
        <div class="followers">{{ artist?.followers }} followers</div>
        <div class="actions-options">
          <button mat-icon-button (click)="shareProfile()">
            <mat-icon>share</mat-icon>
          </button>
          @if (followInfo) {
            <button mat-icon-button (click)="toggleNotifications()">
              <mat-icon>
                @if (followInfo.wantsNotifications) {
                  notifications_active
                } @else {
                  notifications
                }
              </mat-icon>
            </button>
          }
          @if (followInfo) {
            <button mat-flat-button class="follow-button" (click)="followOrUnfollow()">
              Unfollow
            </button>
          } @else {
            <button mat-stroked-button class="follow-button" (click)="followOrUnfollow()">
              Follow
            </button>
          }
        </div>
      </div>
    </div>
  </div>
  <mat-tab-group>
    <mat-tab label="MUSIC">
      <ng-template matTabContent>
        <app-artist-music-page></app-artist-music-page>
      </ng-template>
    </mat-tab>
    <mat-tab label="SHOP">
      <ng-template matTabContent>
        <app-store-artist-page></app-store-artist-page>

      </ng-template>
    </mat-tab>
    <mat-tab label="EVENTS">
      <ng-template matTabContent>
        <app-eventpage></app-eventpage>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
