<p>album-create works!</p>
<form>
  <div>
    <label>Title:</label>
    <input type="text" [(ngModel)]="albumData.title" name="title">
  </div>
  <div>
    <label>Distributor</label>
    <input type="text" [(ngModel)]="albumData.distributor" name="distributor">
  </div>
  <div>
    <label>Release Date</label>
    <input type="text" [(ngModel)]="albumData.releaseDate" name="releaseDate">
  </div>
  <div>
    <label>Visibility: Public</label>
    <input type="checkbox" [(ngModel)]="albumData.isActive" name="isActive">
  </div>
  <div>
    <label>Cover</label>
    <input type="file" [(ngModel)]="albumData.coverImage" name="coverImage">
    <input type="file" (change)="onImagePicked($event)">
  </div>
</form>
<button (click)="createAlbum()">Press me</button>
<button (click)="LogData()">Reveal</button>
@if(albumData.title !== "")
{
  <p>hello{{albumData.title}}
  </p>
}
<router-outlet></router-outlet>
