<div class="sidenav">
  <div class="logo-container">
    <img class="logo-image" [src]="MyConfig.media_address + '808music_logo.png'" alt="Logo">
    <hr class="divider">
  </div>
  <div class="sidenav-icons">
    <button mat-icon-button routerLink="/artist/dashboard" aria-label="Home">
      <mat-icon>analytics</mat-icon>

      <div routerLink="/artist/dashboard" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button routerLink="/artist/search" aria-label="Search">
      <mat-icon>search</mat-icon>

      <div routerLink="/artist/search" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button (click)="navigateTo('products')" aria-label="Shopping Cart">
      <mat-icon>store</mat-icon>

      <div [class]="getArtistProductPath() == '' ? 'hidden' : 'display'">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>
    <button mat-icon-button routerLink="/artist/album" aria-label="Albums">
      <mat-icon>album</mat-icon>

      <div routerLink="/artist/album" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>


  </div>
  <div class="profile-container">
    <hr class="divider">

    <div
      class="profile-picture"
      [ngStyle]="{'background-image': 'url('+pathToPfp+')'}"
      (click)="toggleMenu()"
    ><div>
    <div class="profile-menu" [ngClass]="{'show': isMenuVisible}">
      <ul>
        <li (click)="navigateTo('profile')">Profile</li>
        <li (click)="switchArtist()">Switch Artist</li>
        <li (click)="navigateTo('/artist/settings')">Settings</li>
        <hr />
        <li (click)="navigateTo('/listener/home')">808 Listener</li>
        <li (click)="navigateTo('/auth/logout')">Log Out</li>
      </ul>
    </div>
  </div>
</div>
  </div>
</div>
