<mat-card appearance="outlined" class="album-mat-card"
          [matTooltip]="tooltip"
          matTooltipPosition="above"
          matTooltipShowDelay="500" matTooltipHideDelay="250"
          (mouseover)="showPlayButton()" (mouseleave)="hidePlayButton()">
    <img [src]="imageUrl" matCardImage alt="Album Cover" (error)="replaceWithPlaceholder()" id="thumbnail">
    @if(!hasControls) {
      <button mat-fab class="play-button" (click)="emitPlayClick()"
              [ngStyle]="playBtnStyle"><mat-icon>play_arrow</mat-icon></button>
    }
  <mat-card-header class="album-mat-card-header">
    <mat-card-title class="album-mat-card-title hide-overflow" (click)="emitClick()">{{getTitle()}}</mat-card-title>
    @if (artistName != "")
    {
      <mat-card-subtitle class="album-mat-card-subtitle italic hide-overflow">{{artistName}}</mat-card-subtitle>
    }
  </mat-card-header>
    <mat-card-content class="album-mat-card-subtitle hide-overflow">{{subtitle}}</mat-card-content>
  @if (numOfTracks != -1)
  {
    <mat-card-content class="album-mat-card-subtitle italic hide-overflow">{{numOfTracks}} tracks</mat-card-content>
  }
  @if (hasControls)
  {
    <mat-card-actions class="album-mat-card-controls">
      <button mat-icon-button (click)="emitDelete()">
        <mat-icon>delete</mat-icon>
      </button>
      <button mat-icon-button (click)="emitStats()">
        <mat-icon>bar_chart</mat-icon>
      </button>
      <button mat-icon-button (click)="emitEdit()">
        <mat-icon>edit</mat-icon>
      </button>
    </mat-card-actions>
  } @else {
    <mat-card-content></mat-card-content>
  }
</mat-card>
