<div class="chat-box">
  <div class="chat-info">
    <h3 class="title">{{ chat?.chatter }}</h3>
    <div class="actions">
      <button mat-icon-button matTooltip="Mute chat">
        <mat-icon>do_not_disturb_on</mat-icon>
      </button>
      <button mat-icon-button matTooltip="Block chat">
        <mat-icon>block</mat-icon>
      </button>
    </div>
  </div>
  <div class="messages" id="messageBox">
    <app-messages-list [messages]="messages"></app-messages-list>
  </div>
  <div class="send-message">
    <form class="input" [formGroup]="form" (ngSubmit)="sendMessage()">
      <input class="search-bar-input" type="text" formControlName="message" [placeholder]="'Message '+ chat?.chatter">
      <div class="actions2">
        <button mat-mini-fab (click)="attachItems()" type="button">
          <mat-icon>attachment</mat-icon>
        </button>
        <button mat-mini-fab [disabled]="!form.valid" type="submit">
          <mat-icon>send</mat-icon>
        </button>
      </div>
      @let type = form.get('contentType')?.value;
    </form>
    @if (type != 'None') {
      <div class="attached-content">
        <app-message-content-card [content]="result!" (onButtonClick)="removeContent()" [btnIconName]="'remove'"
                                  [iconButton]="true"></app-message-content-card>
      </div>
    }
  </div>
</div>
