.actions {
  width: 20vw;
  display: flex;
  gap: 15px;
  align-self: center;
}

.pfp {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  background-color: aliceblue;
  background-position: center;
  background-size: cover;
}

.chatter-info {
  display: flex;
  gap: 15px;
  align-items: center;
}

.following-page {
  margin-bottom: 17vh;
}

.msg-cont {
  display: flex;
  flex-direction: column;
  width: 100%;
}
