.clickable-artists {
  display: flex;
}

.clickable-artist:hover {
  text-decoration: underline;
  cursor: pointer;
}

.clickable-artist {
  color: #A9A9A9;
}

div {
  white-space: preserve;
  color: #A9A9A9;
}
