<div class="base-page">
  <div class="headline-card">
    <h1>About Us</h1>
    <div class="headline-card-thumbnail"></div>
    <div class="headline-card-signature"><h1>808</h1></div>
    <div style="width: 40%">
      <p>At 808 Music, we believe music has the power to connect, inspire, and transform lives. That’s why we’ve created a platform where your favorite songs, artists, and playlists are always just a tap away.
        Whether you’re diving into chart-topping hits,
        discovering underground gems, or curating your personal soundtrack, our mission is to make every listening experience unforgettable.</p>
    </div>
    <br>
    <div style="width: 40%">
      <p>With a vast library of tracks and products, personalized recommendations tailored to your unique taste,
        and seamless streaming across all your devices, we’re here to empower every moment of your day with the perfect sound.</p>
    </div>
    <br>
    <div style="width: 40%">
      <p>Founded on innovation and driven by a passion for music, we aim to be more than just a streaming service. We’re a community of listeners and creators, connecting people through the universal language of music.
        From supporting emerging artists to collaborating with industry icons, we’re committed to shaping the future of music culture.
        Welcome to the ultimate destination for your listening journey. Welcome to 808 Music.</p>
    </div>
  </div>
</div>
