* {
  color: white;
  box-sizing: border-box;
}
.flex-page {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0;
  height: 100vh;
  overflow-y: hidden;
}

.select-page {
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: auto;
}

app-album-card {
  width: 10vw;
}

.flex-container {
  align-items: end;
  flex-grow: 0;
  flex-basis: auto;
}

mat-paginator {
  border-radius: 15px;
}
div > h6 {
  color: #EEDEE7;
  font-size: 20px;
}

.dual-control {
  display: flex;
  gap: 20px;
}


.flex-side {
  flex-basis: 42vw;
  height: auto;
  display: block;
}

.title > h1 {
  padding-top: 1vh;
  margin-bottom: 5px;
}

.title mat-icon {
  width: 35px;
  height: 35px;
  font-size: 35px;
}

.title button {
  width: 50px;
  height: 50px;
  text-align: center;
}

.error {
  color: red;
}

@media only screen and (max-width: 1300px) {
  app-album-card {
    width: 15vw;
  }
}

@media only screen and (max-width: 800px) {
  app-album-card {
    width: 25vw;
  }
}


