<div>

  <form>
    <h1>Create Product</h1>
    <div>
      <label>Title:</label>
      <input type="text" [(ngModel)]="productData.title" name="title">
    </div>

    <div>
      <label>Price:</label>
      <input type="number" [(ngModel)]="productData.price" name="price" min="0">
    </div>

    <div>
      <label>Quantity:</label>
      <input type="number" [(ngModel)]="productData.quantity" name="quantity" min="0">
    </div>


    <div>
      <label>Is Digital?</label>
      <input type="checkbox" [(ngModel)]="productData.isDigital" name="isDigital">
    </div>

    <div>
      <label>Product Type:</label>
      <select class="combobox" [(ngModel)]="productData.productType" (change)="onProductTypeChange($event)" name="productType">
        <option *ngFor="let type of productTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>

    <div>
      <label>Clothes Type:</label>
      <select class="combobox" [(ngModel)]="productData.clothesType" name="clothesType" [disabled]="!showClothesType">
        <option *ngFor="let type of clothesTypes" [value]="type.id">{{ type.name }}</option>
      </select>
    </div>




    <div>
      <label>Bio:</label>
      <textarea class="bio" [(ngModel)]="productData.bio" name="bio"></textarea>
    </div>

    <div>
      <label>Photos:</label>
      <label class="custom-upload">
Upload product pictures        <input class="upload-pic" type="file" (change)="onFilesSelected($event)" multiple>

      </label>
      <div class="photo-preview" *ngIf="previewPhotos.length > 0">
        <img *ngFor="let photo of previewPhotos" [src]="photo" alt="Photo preview">
      </div>
    </div>


    <div class="control-btns">
      <button type="button" (click)="createProduct()">Create</button>
      <button type="button" (click)="backToList()">Cancel</button>
    </div>
  </form>
</div>
