<div class="search-page">
  <div class="search-area">
    <app-search-bar [autoSearch]="true" [placeholder]="'What\'s a good song I could find? Hmmm...'"
                    (onSearchChange)="!artistMode ? search($event) : searchTwice($event)"></app-search-bar>
    <div class="listbox">
      <mat-chip-listbox [multiple]="true">
        <mat-chip-option [id]="'0'"
                         [selected]="(!artistMode && filter.showUsers && filter.showTracks && filter.showAlbums && filter.showArtists)
                         ||
                         (artistMode && filter.showTracks && filter.showAlbums )"
                         [value]="'0'" (selectionChange)="selectAll($event)">All
        </mat-chip-option>
        <mat-divider [vertical]="true" [ngStyle]="{'padding-right': '10px'}"></mat-divider>
        <mat-chip-option [id]="'1'" (click)="flip('tracks')"
                         [selected]="filter.showTracks" [value]="'1'">Songs</mat-chip-option>
        <mat-chip-option [id]="'2'" (click)="flip('albums')" [selected]="filter.showAlbums" [value]="'2'">Releases</mat-chip-option>
        @if (!artistMode) {
          <mat-chip-option [id]="'3'" (click)="flip('artists')" [selected]="filter.showArtists"  [value]="'3'">Artists</mat-chip-option>
          <mat-chip-option [id]="'4'" (click)="flip('users')" [selected]="filter.showUsers" [value]="'4'">Users</mat-chip-option>
        }
      </mat-chip-listbox>
    </div>
  </div>
  @if (!isLoading) {
    <div class="results-area">
      @if (tracks && tracks?.dataItems!.length > 0 && filter.showTracks) {
        <app-track-card-list [tracks]="tracks.dataItems" [artistMode]="artistMode"></app-track-card-list>
      } @else if (filter.showTracks) {
        <div class="result-error">
          <mat-icon>report</mat-icon>
          <h3>No songs that match your query found</h3>
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </div>
      }
      @if (artists.length > 0 && filter.showArtists && !artistMode) {
        <app-artist-big-card-list [numberDescription]="'followers'" [title]="'Artists'" [artists]="artists"
                                  [queryParams]="popArtistParams"></app-artist-big-card-list>
      } @else if (filter.showArtists && !artistMode) {
        <div class="result-error">
          <mat-icon>report</mat-icon>
          <h3>No artists that match your query found</h3>
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </div>
      }
      @if (albums && albums.dataItems.length > 0 && filter.showAlbums) {

        <app-album-card-list [title]="'Releases'" [albums]="albums" [queryParams]="albumParams"
                             (deletedAlbum)="refresh($event)"></app-album-card-list>
      } @else if (filter.showAlbums) {
        <div class="result-error">
          <mat-icon>report</mat-icon>
          <h3>No albums that match your query found</h3>
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </div>
      }

      @if (users.length > 0 && filter.showUsers && !artistMode) {
        <div class="users">
          <h3 class="user-h3">Users</h3>
          <div class="followage-section">
            @for (user of users; track user.id) {
              <div class="user">
                <img class="followage-pfp" (click)="openProfile(user.id)"
                     [src]="MyConfig.media_address + user.profilePicture" alt="Profile Picture" width="40" height="40">
                <div class="username-profiletype">
                  <p class="username-followage hide-overflow">{{ user.username }}</p>
                  <p class="profile-undertext">Profile</p></div>
              </div>
            }
          </div>
        </div>
      } @else if (filter.showUsers && !artistMode) {
        <div class="result-error">
          <mat-icon>report</mat-icon>
          <h3>No users that match your query found</h3>
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </div>
      }
    </div>
    @if (!artistMode && (!filter.showUsers && !filter.showTracks && !filter.showAlbums && !filter.showArtists)
      || artistMode && (!filter.showTracks && !filter.showAlbums))
    {
      <div class="result-error">
        <mat-icon>warning</mat-icon>
        <h3>Select a parameter you want to search</h3>
      </div>
    }
  } @else {
    <div class="spinner">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
