<div class="sidenav">
  <div class="logo-container">
    <img class="logo-image" [src]="MyConfig.media_address + '/808music_logo.png'" alt="Logo">
    <hr class="divider">
  </div>
  <div class="sidenav-icons">
    <button mat-icon-button routerLink="/listener/home" aria-label="Home">
      <mat-icon>home</mat-icon>

      <div routerLink="/listener/home" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button routerLink="/listener/search" aria-label="Search">
      <mat-icon>search</mat-icon>

      <div routerLink="/listener/search" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button routerLink="/listener/playlist" aria-label="Playlists">
      <mat-icon>library_music</mat-icon>

      <div routerLink="/listener/playlist" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button routerLink="/listener/store-home" aria-label="Shopping Cart">
      <mat-icon>shopping_cart</mat-icon>

      <div routerLink="/listener/store-home" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button routerLink="/listener/notifications" aria-label="Notifications">
      <mat-icon>notifications</mat-icon>

      <div routerLink="/listener/notifications" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>

    <button mat-icon-button routerLink="/listener/chat" aria-label="Socials">
      <mat-icon>textsms</mat-icon>

      <div routerLink="/listener/chat" class="hidden" routerLinkActive="display">
        <mat-icon>play_arrow</mat-icon>
      </div>
    </button>
  </div>

  <div class="profile-container">
    <hr class="divider">

    <img
      class="profile-picture"
      [src]="pathToPfp"
      (click)="toggleMenu()"
    />
    <div class="profile-menu" [ngClass]="{'show': isMenuVisible}">
      <ul>
        <li (click)="navigateTo('profile')">Profile</li>
        <li (click)="openImageCropperDialog()">Change Picture</li>
        <li (click)="navigateTo('/listener/subscriptions')">Subscriptions</li>
        <li (click)="navigateTo('settings')">Settings</li>
        <hr />
        <li (click)="navigateTo('/artist/album')">808 for Artist</li>
        <li (click)="navigateTo('/auth/logout')">Log Out</li>
      </ul>
    </div>
  </div>
</div>
