@if (!isForProfile){
<div class="artist-card" (mouseover)="showPlayButton(true)" (mouseleave)="showPlayButton(false)" [matTooltip]="artist?.name" matTooltipShowDelay="500" matTooltipPosition="above">
  <div class="thumbnail-image" [ngStyle]="{'background-image':'url('+MyConfig.api_address+artist?.pfpPath+')'}"></div>
  <div class="artist-info">
    <h6 class="artist-name hide-overflow" (click)="goToArtist()">{{ artist?.name }}</h6>
    <p class="follow-count hide-overflow">{{getFollowCount()}}</p>
  </div>
    <div class="play-button" (click)="!isPlayingThisAlbum ? playArtist() : musicPlayerService.togglePlayState()"
         [ngStyle]="isPlayingThisAlbum && playingState ? pauseBtnSyle : playBtnSyle">
      <mat-icon>
        {{isPlayingThisAlbum && playingState ? 'pause' : 'play_arrow'}}
      </mat-icon>
    </div>
</div>
}
@else {
  <div class="artist-card" (mouseover)="showPlayButton(true)" (mouseleave)="showPlayButton(false)">
    <div class="thumbnail-image" [ngStyle]="{'background-image':'url('+MyConfig.media_address+ '/Images/Artistpfps/' + artists?.artistPfp+')'}"></div>
    <div class="artist-info">
      <h6 class="artist-name hide-overflow" (click)="goToArtist()">{{ artists?.artistName }}</h6>
      <p class="follow-count hide-overflow">{{getFollowCount()}}</p>
    </div>
    @if (!isPlayingThisAlbum)
    {
      <div class="play-button" (click)="playArtists()" [ngStyle]="playBtnSyle">
        <mat-icon>
          play_arrow
        </mat-icon>
      </div>
    } @else {
      <div class="play-button" (click)="musicPlayerService.togglePlayState()" [ngStyle]="playBtnSyle">
        <mat-icon>
          {{playingState ? 'pause' : 'play_arrow'}}
        </mat-icon>
      </div>
    }
  </div>
}
