.shopping-cart{
position: absolute;
top: 1.5vw;
right: 30%;
z-index: 1200;}
.wishlist-icon{
background: none;
  color: white;
  border-style: none;
  cursor: pointer;
}
.wishlist-icon:hover{
  color: #86638e;
}
