@if (track) {
  <div class="track-card" (mouseover)="showPlayButton(true)" (mouseleave)="showPlayButton(false)" [ngStyle]="cardStyle">
    <div class="tc-content">
      <div class="tc-thumbnail" [ngStyle]="{'background-image': 'url('+MyConfig.api_address+track.coverPath+')'}"></div>
      <div class="tc-info">
        <h6 (click)="goToTrack()">{{ track.title }}</h6>
        @if (!artistMode) {
          <app-clickable-featured-artists [artists]="track.artists"
                                          (onArtistClick)="goToArtistPage($event)"></app-clickable-featured-artists>
        }
      </div>
    </div>
    <div class="tc-actions" [ngStyle]="isPlayingThisTrack && playingState ? pauseBtnStyle : playBtnSyle">
      @if (artistMode)
      {
        <button mat-fab (click)="handleActionClick()">
          <mat-icon>edit</mat-icon>
        </button>
      } @else {
        <button mat-fab (click)="!isPlayingThisTrack ? handleActionClick() : musicPlayerService.togglePlayState()">
          <mat-icon>{{isPlayingThisTrack && playingState ? 'pause' : 'play_arrow'}}</mat-icon>
        </button>
      }
    </div>
  </div>
}
