@if (track) {
  <div class="track-card" (mouseover)="showPlayButton(true)" (mouseleave)="showPlayButton(false)" [ngStyle]="cardStyle">
    <div class="tc-content">
      <div class="tc-thumbnail" [ngStyle]="{'background-image': 'url('+MyConfig.api_address+track.coverPath+')'}"></div>
      <div class="tc-info">
        <h6 (click)="goToTrack()">{{ track.title }}</h6>
        @if (!artistMode) {
          <app-clickable-featured-artists [artists]="track.artists"
                                          (onArtistClick)="goToArtistPage($event)"></app-clickable-featured-artists>
        }
      </div>
    </div>
    <div class="tc-actions" [ngStyle]="playBtnSyle">
      @if (!isPlayingThisTrack || artistMode)
      {
        <button mat-fab (click)="handleActionClick()">
          <mat-icon>
            @if (artistMode) {
              edit
            } @else {
              play_arrow
            }
          </mat-icon>
        </button>
      } @else if (isPlayingThisTrack && !artistMode)
      {
        <button mat-fab (click)="musicPlayerService.togglePlayState()">
          <mat-icon>
            {{playingState ? 'pause' : 'play_arrow'}}
          </mat-icon>
        </button>
      }
    </div>
  </div>
}
