
<div class="product-container">
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <button class="prev" (click)="prevSlide()">❮</button>
      <lib-ngx-image-zoom
        [thumbImage]="MyConfig.api_address+'/media' + (product?.thumbnailPath?.[currentSlide] ?? '')"
        [fullImage]="'http://localhost:7000/media' + (product?.photoPaths?.[currentSlide] ?? '')">
      </lib-ngx-image-zoom>

      <button class="next" (click)="nextSlide()">❯</button>
    </div>
    <div class="thumbnails">
      <div *ngFor="let photoPath of product?.photoPaths; let i = index" class="thumbnail" (click)="changeSlide(i)">
        <img [src]="'http://localhost:7000/media' + photoPath" alt="Thumbnail" class="thumbnail-image">
      </div>
    </div>
  </div>
  <div class="product-header">
    <h1 class="product-title">{{ product?.title }}</h1>
    <div class="price-container">
      <p *ngIf="product?.discountedPrice !== product?.price" class="original-price">
        {{ product?.price | currency }}
      </p>
      <!-- Discounted Price -->
      <p class="price">{{ product?.discountedPrice | currency }}</p>
    </div>
  </div>

  <div class="artist-info">
    <img *ngIf="product?.artistPhoto" [src]="MyConfig.media_address + 'Images/Artistpfps/' + product?.artistPhoto" alt="Artist Photo" class="artist-photo">
    <p class="artist-name">{{ product?.artistName ?? 'Unknown Artist' }}</p>
  </div>

  <p class="product-description">{{ product?.bio ?? '808 Shop item ready to be purchased! ' }}</p>
  <p class="quantity" [ngClass]="(product?.quantity ?? 0) > 0 ? '' : 'out-of-stock'">
    {{ (product?.quantity ?? 0) > 0 ? 'In Stock' : 'Out of Stock' }}
  </p>
  <div class = "checkout-related">
  <div class="add-to-cart-container">
    <button mat-icon-button (click)="addToCart()" [disabled]="!quantity || quantity <= 0">
      <mat-icon>shopping_cart</mat-icon> Add to Cart
    </button>
  </div>
    <div class="quantity-container">
      <label for="quantity">Quantity:</label>
      <input type="number" id="quantity" [(ngModel)]="quantity" min="1" [max]="product?.quantity  || 0" />
    </div>

  </div>
  <div class="add-to-cart-container">
    <button mat-icon-button (click)="addToWishlist()" [disabled]="!quantity || quantity <= 0">
      <mat-icon>favorite_border</mat-icon> Add to Wishlist
    </button>
  </div>

<app-shopping-cart> </app-shopping-cart>
</div>
