
<artist-sidenav></artist-sidenav>
<div class="product-container">
  <div class="carousel-container">
    <div class="carousel-wrapper">
      <button class="prev" (click)="prevSlide()">❮</button>
      <img
        [src]="'http://localhost:7000/media' + (product?.photoPaths?.[currentSlide] ?? '')"
        alt="Product Image"
        class="carousel-image">
      <button class="next" (click)="nextSlide()">❯</button>
    </div>
    <div class="thumbnails">
      <div *ngFor="let photoPath of product?.photoPaths; let i = index" class="thumbnail" (click)="changeSlide(i)">
        <img [src]="'http://localhost:7000/media' + photoPath" alt="Thumbnail" class="thumbnail-image">
      </div>
    </div>
  </div>
  <div class="product-header">
    <h1 class="product-title">{{ product?.title }}</h1>
    <p class="price">{{ product?.price | currency }}</p>
  </div>

  <div class="artist-info">
    <img *ngIf="product?.artistPhoto" [src]="'http://localhost:7000/media' + product?.artistPhoto" alt="Artist Photo" class="artist-photo">
    <p class="artist-name">{{ product?.artistName ?? 'Unknown Artist' }}</p>
  </div>

  <p class="product-description">A HIGH-QUALITY PRODUCT TO MEET ALL YOUR NEEDS AND EXPECTATIONS.</p>
  <p class="quantity" [ngClass]="(product?.quantity ?? 0) > 0 ? '' : 'out-of-stock'">
    {{ (product?.quantity ?? 0) > 0 ? 'In Stock' : 'Out of Stock' }}
  </p>
</div>
