<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
<div class="container">
  <!-- Main Content -->
  <main class="main-content">
    <!-- Search Bar -->
    <div class="search-bar">
      <input type="text" placeholder="Search for a product..." class="search-input">
      <button class="search-button">Search</button>
      <select class="sort-dropdown">
        <option>Featured</option>
        <option>Most Popular</option>
        <option>Lowest Price</option>
        <option>Highest Price</option>
        <option>Release Date</option>
      </select>
    </div>

    <!-- Products Grid -->
    <div class="products">
      <div *ngFor="let product of products" class="product">
        <div *ngIf="!isEditing[product.slug]">
          <img [src]="'http://localhost:7000/media/' + product.photoPaths[product.photoPaths.length - 1]" alt="{{ product.title }}" class="product-image">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ product.price }}$</p>
          <button class="product-button" (click)="toggleEdit(product.slug)">Edit</button>
          <button class="product-button" (click)="deleteProduct(product.slug)">Delete</button>
          <button class="product-button" (click)="viewProduct(product.slug)">View Details</button>
        </div>

        <!-- Edit Mode -->

      </div>
    </div>
  </main>
</div>


</body>
</html>
