<div class="login-page">
  <div class="login-container">
    <div class="logo" [ngStyle]="{'background-image': 'url(/images/logo_qr.png)'}"></div>
    <h2>Forgot your password?</h2>
    <form (ngSubmit)="sendResetRequest()" *ngIf="!sentRequest">

      <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="resetRequest.email" id="email" name="email" required type="text" (input)="validateEmail()"
               class="">
      </div>
      <div class="dual-controls">
        <button mat-stroked-button routerLink="/auth/login">Back to login</button>
        <button mat-flat-button type="submit" [disabled]="checkButton()">Send reset request</button>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    <div *ngIf="sentRequest" class="success-div">
      <h6>We've sent you an email to {{ resetRequest.email }} with further instructions</h6>
      <button mat-stroked-button routerLink="/auth/login">Back to login</button>
    </div>
    <!--<button class="login-button" type="submit" (click)="LogData()">Show me</button>-->
  </div>
</div>
