<div class="login-page">
  <div class="login-container">
    <h2>Forgot password - 808 Music</h2>
    <form (ngSubmit)="sendResetRequest()" *ngIf="!sentRequest">

      <div class="form-group">
        <label for="email">Email:</label>
        <input [(ngModel)]="resetRequest.email" id="email" name="email" required type="text" (input)="validateEmail()" class="">
      </div>

      <button class="login-button" type="submit" [disabled]="checkButton()">Send request</button>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    <div *ngIf="sentRequest" class="success-div">
      <h6>We've sent you an email to {{resetRequest.email}} with further instructions</h6>
    </div>
    <button class="login-button" routerLink="/">Back to home</button>
    <!--<button class="login-button" type="submit" (click)="LogData()">Show me</button>-->
  </div>
</div>
