<div class="order-list">
  <div *ngIf="errorMessage; else ordersList">
    <p class="error">{{ errorMessage }}</p>
  </div>

  <ng-template #ordersList>
    <h2 class="orders-header">{{ userName }}'S ORDER HISTORY</h2>

    <div *ngIf="orders.length > 0; else noOrders">
      <div *ngFor="let order of orders" class="order-card">

        <h3 class="order-code">{{ order.orderCode }}</h3>

        <div class="order-meta">
          <p class="order-date">{{ order.dateAdded | date }}</p>
          <p class="order-price">Total price: {{ order.totalPrice | currency }}</p>
        </div>

        <table class="product-table">
          <thead>
          <tr>
            <th>Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let detail of order.orderDetails">
            <td class="product-info">
              <img [src]="MyConfig.media_address + detail.photoPath" class="product-image" alt="Product Image">
              <span class="product-name">{{ detail.productName }}</span>
            </td>
            <td class="product-quantity">{{ detail.quantity }}</td>
            <td class="product-total">{{ detail.totalPrice | currency }}</td>
          </tr>
          </tbody>
        </table>

        <div class="status-row">
          <p class="order-status">Status: <p class="status-color">{{ order.status }}</p>
        </div>
      </div>
    </div>

    <ng-template #noOrders>
      <p class="no-orders">No Orders.</p>
    </ng-template>
  </ng-template>
</div>
