<div class="artist-music-page">
  <div>
    <h3>{{title}}</h3>
    <div class="album-cards">
      @for (album of albums?.dataItems; track album.id; let i = $index) {
        @if (i < 6 && !artistMode || i < 8 && artistMode) {
        <app-album-card [title]="album.title"
                        [subtitle]="album.type + ' • ' + getYear(album.releaseDate)"
                        [imageUrl]="MyConfig.api_address+album.coverArt"
                        [id]="album.id"
                        [tooltip]="album.title"
                        [artistId]="album.artistId"
                        [artistName] = "album.artist"
                        (onClick)="goToAlbum($event)"
                        (onPlayClick)="playAlbum($event,false)"
                        (onEdit)="goToEdit($event)"
                        (onDelete)="deleteAlbum($event)"
                        [hasControls]="artistMode"
        ></app-album-card>
        }
      }
      @if (albums != null) {
        @if (albums.dataItems.length >= 6 && !artistMode) {
          <div class="view-all" (click)="viewAll(false)">...</div>
        }
      }
    </div>
  </div>
</div>
