*{
}
.stats-container {
  width: 26vw;
  background: linear-gradient(to bottom, #180249, #003b91);
  color: white;
  padding: 2px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  font-family: Arial, sans-serif;
  position: absolute;
  justify-content: center;

}
.stats-container::before {
  content: '';
  border-radius: 10px;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(to right, rgba(0, 0, 0, 0.04) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.05) 100%);

  z-index: 1;
}

.year {
  position: absolute;
  top: 7vw;
  font-weight: 555;
  right: 4.5vw;
  font-size: 1.8em;
  color: rgb(255, 255, 255);
  text-shadow: rgba(30, 26, 29, 0.59) 0 2px 1px;

}

.profile-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}
.number{
   margin-top: -1vw;
  font-weight: 755;
  font-size: 2.4em;
  text-align: left;
}
.profile-images {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
.username{
  position: absolute;
  left: 2vw;
  top: 1vw;
  text-shadow: rgba(30, 26, 29, 0.59) 0 2px 1px;
}
.bottom-1{
  display: flex;
flex-direction: column;
  align-items: start;
}
.monthly-stats {
  margin-top: 0.5vw;
  top: 0;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  height: 97vh;
  width: 100%;
}
.month{
  position: absolute;
  left: 9vw;
  top: 3.5vw;
  text-shadow: rgba(30, 26, 29, 0.59) 0 2px 1px;

  font-weight: 555;
  font-size: 2.4em;
  color: #00ffef;
}
.month1{
  position: absolute;
  left: 10vw;
  top: 2.5vw;
  opacity: 0.1;
  font-weight: 555;
  font-size: 1.9em;
  color: #00ffef;
}
.month3{
  position: absolute;
  left: 11vw;
  top: 1.5vw;
  opacity: 0.1;
  font-weight: 555;
  font-size: 1.9em;
  color: #00ffef;
}
.month4{
  position: absolute;
  left: 13vw;
  top: 0;
  opacity: 0.1;
  font-weight: 555;
  font-size: 1.9em;
  color: #00ffef;
}

.month2{
  opacity: 0.1;

  position: absolute;
  left: 8vw;
  top: 4.5vw;
  font-weight: 555;
  font-size: 1.9em;
  color: #00ffef;
}
.month5{
  opacity: 0.1;

  position: absolute;
  left: 7vw;
  top: 5.5vw;
  font-weight: 555;
  font-size: 1.9em;
  color: #00ffef;
}
.background-color{
  background-color: rgba(0, 0, 0, 0.02);
}
.profile-container {
  position: relative;
  margin-top: 4vw;
  width: 100%;
  height: 100%;
}
.theme-selector {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: -4.5vw;
  position: relative;
  justify-content: center;
  align-items: center;
}


.theme-circle {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;

  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}
.colors {
  display: flex;
  flex-direction: row;
}
.theme-circle:hover {
  transform: scale(1.1);
}

.profile-big {
  position: absolute;
  top: 5vw;
  background-position: center;
  background-size: cover;
  left: 0;
  width: 9vw;
  height: 9vw;
  border-radius: 50%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.71);
}

.profile-medium {
  position: absolute;
  top:7.5vw;
  left: 8vw;
  width: 7vw;
  height: 7vw;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.91);
  z-index: 2;

}

.profile-small {
  position: absolute;
  top: 12vw;
  left: 5vw;
  width: 5vw;
  background-position: center;
  background-size: cover;
  height: 5vw;
  border-radius: 50%;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.61);
  z-index: 1;
}


.stats {
  margin-left: 1vw;
  display: flex;
  gap: 6.5vw;
  margin-right: 6vw;
  margin-top: 1vw;
  margin-bottom: 2vw;
}

.background-pattern{
  background-position: center;
  background-size: cover;

}

.stats p {
  font-size: 1.24em;
  opacity: 1;
  margin: 0;
  font-weight: 550;
  color: #00ffef;
}
.bottom{
margin: 0;

}
h1{
  margin: 0;
}
p{
  margin: 0;
}
.lists {
  display: flex;
flex-direction: row;
  text-align: left;
  margin-top: 7vw;
  margin-left: 1vw;
  justify-content: center;
}
.list-title{
  font-size:1em;
  text-align: left;
  font-weight: bold;

}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.error-text{
  color: white;
  margin: 0;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  line-height: 1.1;
}
.gif{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  width: 35vw;
  height: 25vw;
}
.error-texts{
  color: white;
  margin: 0;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  line-height: 1.1;
}
.logo {
  width: 5vw;
  height:3vw;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.link{
  margin-top: 2vw;
  position: absolute;
  right: 0.5vw;
  bottom: -1vw;
  font-weight: bold;
  font-size: 1.1em;
  text-transform: uppercase;
    }
.lists li {
  margin: 0;
  line-height: 1.2;
  counter-reset: item;

}
.list-row{
  font-size: 1.3em;
  font-weight: 555;
}
.lists ol {
  margin: 0;
  margin-right: 2px;
  list-style-type: decimal;
  padding-left: 15px;
  font-size: 14px;

}
lists ol li::before {
  content: counter(item) " ";
  counter-increment: item;
}
.list1{
  width: 14vw;

}
.list2 {
  width: 12vw;
}

button {
  padding: 0.2vw;
  background: #E692F8;
  color: white;
  border: none;
  cursor: pointer;
  width: 4vw;
  border-radius: 15px;
}

button:hover {
  background: #e9a4ff;
  transform: scale(1.1);

}
