.music-player {
  box-sizing: border-box;
  padding: 3vh;
  background-color: #242424;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 96vh;

  /*
  uncomment when there's alternate ways to play songs
  flex-wrap: wrap;
   */
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.now-playing h6 {
  color: #A9A9A9;
  text-decoration: underline;
  font-weight: bold;
  font-size: 17px;
}

.now-playing h6:hover {
  cursor: pointer;
}

.cover {
  background-color: red;
  border-radius: 15px;
  margin-right: auto;
  margin-left: auto;
  background-position: center;
  background-size: cover;
  width: 35vh;
  height: 35vh;
  margin-bottom: 30px;
}

.music-info {
  padding-top: 3vh;
  display: flex;
  flex-direction: column;
}

.music-info > mat-icon {
  margin-bottom: 10px;
}

.control-bar {
  box-sizing: border-box;
  padding: 4px;
  background-color: #333333;
  border-radius: 30px;
  display: flex;
  justify-content: space-evenly;
  width: 15vw;
  margin-right: auto;
  margin-left: auto;
}

.now-playing {
  margin-bottom: 20px;
}

.music-controls {
  margin-bottom: 20px;
}

.music-player2 {
  height: 97vh;
}

.track-title:hover {
  cursor: pointer;
  text-decoration: underline;
}

h6 {
  display: inline;
}

.clickable {
  text-decoration: underline;
}

.clickable:hover {
  cursor: pointer;
}

.queue-status-info {
  margin-top: 20px;
}

.queue-status-info2 {
  margin-bottom: 15px;
}


@media only screen and (max-height: 900px) {
  .cover {
    height: 25vh;
    width: 25vh;
  }
}

@media only screen and (max-width: 1500px) {
  .cover {
    height: 25vh;
    width: 25vh;
  }
}

@media only screen and (max-width: 1000px) {
  .cover {
    height: 15vh;
    width: 15vh;
  }
}

@media only screen and (max-height: 800px) {
  .cover {
    height: 15vh;
    width: 15vh;
  }
}
