<div class="music-player">

  <div class="now-playing">
    <h3>Now playing...</h3>
    <h6>{{track?.title}}</h6>
  </div>

  <div class="cover" [ngStyle]="{'background-image':'url('+MyConfig.api_address + track?.coverPath +')'}"></div>

  <div class="music-info">
    @if (track?.isExplicit)
    {
      <mat-icon>explicit</mat-icon>
    }
    <h6>{{track?.title}}</h6>
    <app-clickable-featured-artists [artists]="track?.artists ?? null"></app-clickable-featured-artists>
  </div>

  <app-music-controller class="music-controls" [track]="track" [trackLocation]="'http://localhost:7000/api/TrackStreamEndpoint/'+track?.id"></app-music-controller>

  <div class="control-bar">
    <button mat-icon-button matTooltip="Share">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Send to users">
      <mat-icon>send</mat-icon>
    </button>
    <button mat-icon-button matTooltip="Add to playlist">
      <mat-icon>library_add</mat-icon>
    </button>
  </div>
  <mat-form-field>
    <input type="number" name="trackId" [(ngModel)]="newTrackId" matInput>

  </mat-form-field>
  <button mat-stroked-button (click)="setNewSong()">Get song</button>
</div>

