.base-page > div > h1 {
  margin: 0;
  width: 100%;
}

.base-page {
  width: 100%;
}


.current-cover {
  width: 32vh;
  height: 32vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  background-clip: border-box;
  background-position: center;
  margin-right: auto;
  margin-left: auto;
}

.dual-control {
  display: flex;
  align-items: center;
  align-content: center;
}

.dual-control mat-icon {
  color: #EEDEE7;
}

.dual-control h1 {
  padding-top: 0;
  margin-bottom: 0;
}

.error {
  color: red;
}

.hint {
  text-align: end;
  align-self: end;
}
