<div class="base-page">
  <div>
    @if (album.id != undefined) {
      <h1>Edit Release {{ album.title }}</h1>
    } @else {
      <h1>Create Release</h1>
    }
  </div>
  <form class="artistForm">
    @if (album.id) {
      <div [ngStyle]="{'width':'100%'}">
        <h6>Current Cover</h6>
        <div class="current-cover" [ngStyle]="{'background-image': 'url('+ getPath() +')'}"></div>
      </div>
    }
    <div [ngStyle]="album.coverImage != undefined ? {'margin-bottom': '33vh'} : {}">
      <h6>New Cover</h6>
      <app-artist-pic-dragzone title="Cover" type="banner"
                               (imageEmit)="selectCoverFile($event)" [control]="album.id"></app-artist-pic-dragzone>
    </div>

    <div [ngStyle]="{'width':'100%'}">
      <h6>Title*</h6>
      <mat-form-field class="artist-name" [ngStyle]="{'width':'100%'}">
        <mat-label>Title</mat-label>
        <input matInput [(ngModel)]="album.title" placeholder="Enter a title for your release" name="title" id="title">
      </mat-form-field>
    </div>

    @if(!isAlreadyReleased()){
      <div [ngStyle]="{'width':'100%'}">
        <h6>Release Date*</h6>
        <mat-form-field [ngStyle]="{'width':'100%'}">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker">
            <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    }

    <div [ngStyle]="{'width':'100%'}">
      <h6>Type*</h6>
      <mat-form-field class="artist-name" [ngStyle]="{'width':'100%'}">
        <mat-select [(value)]="album.albumTypeId">
          @for (type of albumTypes; track type.id) {
            <mat-option [value]="type.id">{{type.type}}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>


    <div [ngStyle]="{'width':'100%'}">
      <h6>Distributor*</h6>
      <mat-form-field class="artist-name" [ngStyle]="{'width':'100%'}">
        <mat-label>Distributor</mat-label>
        <input matInput [(ngModel)]="album.distributor" placeholder="Enter the distributor/copyright holder" name="distributor" id="distributor">
      </mat-form-field>
    </div>

    <div class="controls">
      <a mat-button routerLink="/artist/album">
        Cancel
      </a>
      <button mat-flat-button type="submit" (click)="createAlbum()">
        @if (album.id) {
          Update
        } @else {
          Create
        }
      </button>
    </div>
  </form>
</div>
