<div class="tracks-page">
  <div class="tracks-list">
    <div class="track-page-controls">
      <button mat-icon-button class="go-back-button" (click)="goBack()">
        <mat-icon class="go-back-arrow">arrow_back</mat-icon>
      </button>

    </div>

    <div class="playlist-info">
     <div class="cover-more">
      <div class="playlist-cover" [ngStyle]="{'background-image': 'url(' + MyConfig.media_address + playlistDetails?.coverPath + ')'}"></div>
      </div>
      <div class="playlist-details">
        <mat-icon *ngIf="playlist?.tracks">explicit</mat-icon>
        <div>
          <p class="playlist-privacy">{{ playlistDetails?.isPublic ? 'Public playlist' : 'Private playlist' }}</p>
<h2 class="playlist-title">{{ playlistDetails?.title }}</h2>
          <div class="playlist-information">
          <p class="username" (click)="openProfile()"> {{ username }}</p>
          <p class="songs-h">• {{ playlistDetails?.numOfTracks }} songs, {{ getTotalTrackLength() }}</p></div>
          @if(!isLikedSongs){
          <div class="playlist-actions">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_horiz</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="sharePlaylist()">Share this playlist</button>
            
              <button mat-menu-item (click)="editPlaylist()">Edit Playlist</button>
              <button mat-menu-item (click)="deletePlaylist()">Delete this playlist</button>

            </mat-menu>
          </div>  }
        </div>
      </div>
    </div>


    <app-tracks-table
      [inArtistMode]="false"
      (onMainClick)="createFeaturedQueue($event)"
      [tracks]="featuredTracks"
      [pagedRequest]="myFeaturedRequest"
      [allowPagination]="false"
      [isPlaylist] = "true"
      [playlistId]="playlistDetails?.id!"
      [isUsersPlaylist]="isUsersPlaylist"
    ></app-tracks-table>


  </div>

</div>
