<div class="base-page">
  <div class="headline-card">
    <h1>{{'HOME.TitleP1' | translate}}<br>{{'HOME.TitleP2' | translate}}<br>{{'HOME.TitleP3' | translate}}</h1>
    <div class="headline-card-thumbnail"></div>
    <h6>{{'HOME.Tagline' | translate}}</h6>
    <div class="controls">
      <div class="btn8m-prim wpercent30" routerLink="/auth/register" routerLinkActive="active">
        {{'HOME.Register' | translate}}
      </div>
      <div class="btn8m-sec wpercent30" routerLink="/auth/login" routerLinkActive="active">
        {{'HOME.Login' | translate}}
      </div>
    </div>
      <div style="width: 33%">
        <p>{{'HOME.AlreadyRegistered' | translate}}</p>
      </div>
  </div>
</div>
