<div class="base-page">
  <div class="headline-card">
    <h1>Join the<br>Artists and Music Listeners<br>already enjoying 808 Music</h1>
    <div class="headline-card-thumbnail"></div>
    <h6>Whether your an artist looking to reach a wider audience or an avid music listener 808 Music is the place to be</h6>
    <div class="controls">
      <div class="btn8m-prim wpercent30" routerLink="/auth/register" routerLinkActive="active">
        Register now
      </div>
      <div class="btn8m-sec wpercent30" routerLink="/auth/login" routerLinkActive="active">
        Log In
      </div>
    </div>
      <div style="width: 33%">
        <p>Already a registered user?</p>
      </div>
  </div>
</div>
