body {
  color: #FFFFFF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.product-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background-color: #1E1E1E;
  width: 40%;
  margin-left: 30%;
  border-radius: 12px;
  height: 90%;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.carousel-image {
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: 4px;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail-image {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.thumbnail-image:hover {
  border-color: #914edf;
}

.product-header {
  display: flex;
  justify-content: space-between; /* Naziv i cijena sa strane */
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #444; /* Linija ispod */
  margin-bottom: 15px;
  padding-bottom: 0;
}

.product-title {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  color: #FFFFFF;
}

.price {
  font-size: 1.3rem;
  color: #ffffff;
  margin: 0;
}

.artist-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.artist-photo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.artist-name {
  font-size: 1.1rem;
  color: #FFFFFF;
}

/* Opis proizvoda */
.product-description {
  font-size: 0.85rem; /* Manji font */
  text-transform: uppercase; /* Sve velikim slovima */
  color: #B0B0B0;
}

.quantity {
  font-size: 1rem;
  font-weight: bold;
  color: #95AD10;
}

.quantity.out-of-stock {
  color: red;
}

button.prev,
button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgba(191, 191, 191, 0.42);
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 10;
}

button.prev {
  left: 5px;
}

button.next {
  right: 5px;
}

button.prev:hover,
button.next:hover {
  color: rgba(255, 255, 255, 0.9);
}
