.playlist-mat-card:hover > mat-card-actions {
  opacity: 1;
  transition: 250ms opacity;
  cursor: pointer;
}

.playlist-mat-card {
  width: 10vw;
  transition: 250ms background-color;
  overflow-x: hidden;
  margin: 0 auto;
  margin-right: 20px;
  position: relative;
}

.hide-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.playlist-mat-card:hover {
  background-color: #4D3D50;
  transition: 150ms background-color;
  cursor: pointer;
}

.playlist-mat-card-controls {
  opacity: 0;
  transition: 150ms opacity;
}

.playlist-mat-card-subtitle {
  color: #A9A9A9;
  font-size: 14px;
}

.playlist-mat-card-title {
  font-size: 20px;
}

.playlist-mat-card-title:hover {
  cursor: pointer;
  text-decoration: none;
}
.playlist-author {
  color: #B0B0B0;
  font-size: 12px;
  margin-top: 2px;
  font-style: italic;
}
.playlist-image {
  height: 10vw;
  background-size: cover;
  background-position: center;
}

#thumbnail {
  object-fit: inherit;
  object-position: center;
  display: block;
  border-radius: 4px;
}

.play-button {
  position: absolute;
  bottom: 5vh;
  right: 10px;
}
