<mat-card (click)="openPlaylist()" appearance="outlined" class="playlist-mat-card" (mouseover)="showPlayButton()" (mouseleave)="hidePlayButton()"
          [matTooltip]="tooltip"
          matTooltipPosition="above"
          matTooltipShowDelay="500" matTooltipHideDelay="250" >
  <div [ngStyle]="{'background-image': 'url(' + imageUrl + ')'}"
       class="playlist-image"
       matCardImage
       (click)="openPlaylist()"
       (error)="replaceWithPlaceholder()"
       id="thumbnail">
  </div>
  <button mat-fab class="play-button"
          (click)="!isPlayingThisAlbum ? emitPlayClick($event) : musicPlayerService.togglePlayState()"
          [ngStyle]="playingState && isPlayingThisAlbum ? pauseBtnStyle : playBtnStyle">
    <mat-icon>{{ playingState && isPlayingThisAlbum ? 'pause' : 'play_arrow' }}</mat-icon>
  </button>
  <mat-card-header class="playlist-mat-card-header">
    <mat-card-title class="playlist-mat-card-title hide-overflow" (click)="emitClick()">{{getTitle()}}</mat-card-title>
    <mat-card-subtitle class="playlist-mat-card-subtitle">{{subtitle}}</mat-card-subtitle>
    <mat-card-subtitle class="playlist-author" (click)="openPlaylist()">by {{getAuthor()}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-actions *ngIf="hasControls" class="playlist-mat-card-controls">
    <button mat-icon-button (click)="emitDelete()">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button (click)="emitStats()">
      <mat-icon>bar_chart</mat-icon>
    </button>
    <button mat-icon-button (click)="emitEdit()">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card-actions>
  <mat-card-content *ngIf="!hasControls"></mat-card-content>
</mat-card>
