<div class="wishlist-page">
<div *ngIf="wishlistItems.length > 0" class="wishlist-container">
  <div *ngFor="let item of wishlistItems" class="wishlist-item">
    <img [src]="MyConfig.api_address + '/media/' + item.productPhoto" alt="Product Image" class="product-photo" />
    <div class="item-details">
      <h3 class="product-title">{{ item.productTitle }}</h3>
      <p class="artist-name" (click)="goToProfile()">
        <span class="artist-pfp">
            <img [src]="MyConfig.media_address +'/Images/Artistpfps/' + item?.artistPfp " alt="Artist Image" class="artist-photo" />
        </span>
        {{ item.artistName }}
      </p>
      <div class="price-container">
        <span *ngIf="item.saleAmount > 0" class="discount">-{{ getDiscountPercentage(item.saleAmount) }}%</span>
        <span class="price">{{ item.discountedPrice | currency:'USD' }}</span>
      </div>
      <div class="date-n-remove">
      <span>Date added {{ item.dateAdded | date:'dd/MM/yyyy' }}</span>
      <button (click)="removeFromWishlist(item.slug)" class="remove-from-wishlist">(Remove from Wishlist)</button>
      </div>
    </div>
    <button (click)="addToCart(item.productId)" class="add-to-cart-btn">Add to Cart</button>
  </div>
</div>

<div *ngIf="wishlistItems.length === 0" class="no-items-message">
  No items in your wishlist.
</div>
</div>
