.wishlist-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wishlist-page
{
  justify-content: center;
  width: 90%;
  margin: 3% auto;
}
.wishlist-item {
  width: 100%;
  height: 20vh;
  position: relative;
  background-color: #161215;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1vh;
  border: 0.1rem solid #4E444B;
  transition: background-color 0.25s ease-in-out;

  }
.remove-from-wishlist{
  background: none;
border-style: none;
  cursor: pointer;
  color: white;
  font-size: 0.80em;
}

.product-photo {
  width: 7vw;
  height: 7vw;
  object-fit: cover;
  border-radius: 8px;
  margin-left: 1vw;
}

.item-details {
  flex-grow: 1;
  margin-left: 20px;
}

.product-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0;
  color: #ffffff;
}
.date-n-remove{
  font-size: 0.80em;
}
.artist-name {
  font-size: 1em;
  color: #666;
  display: flex;
  align-items: center;
}

.artist-photo {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  box-sizing: border-box;

}

.price-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount {
  color: red;
  font-weight: bold;
}

.price {
  font-size: 1.2em;
  font-weight: bold;
}

.add-to-cart-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
}

.add-to-cart-btn:hover {
  background-color: #0056b3;
}

.no-items-message {
  font-size: 1.2em;
  color: #999;
}
