* {
  color: white;
  box-sizing: border-box;
}

div h6 {
  color: #EEDEE7;
}

.base-page {
  height: 97vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  overflow-y: auto;
  background: #242424;
  border-radius: 35px;
  padding: 20px;
  overflow-x: hidden;
}

.base-page h1{
  padding-top: 2vh;
  font-weight: 500;
  color: #EEDEE7;
}

form {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: right;
  gap: 1vw;
}

.flex-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.current-cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.artist-name {
  width: 100%;
}
