<div class="login-page">
  <div class="login-container">
    <div class="logo" [ngStyle]="{'background-image': 'url(/images/logo_qr.png)'}"></div>
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input [(ngModel)]="loginRequest.username" id="username" name="username" required type="text">
      </div>

      <div class="form-group">
        <label for="password">Password:</label>
        <input [(ngModel)]="loginRequest.password" id="password" name="password" required type="password">
        <a routerLink="/auth/forgot-password">Forgot password?</a>
      </div>

      <div class="form-group slide-toggle">
        <label>Remember me</label>
        <mat-slide-toggle labelPosition="before" (change)="loginRequest.rememberMe = $event.checked"></mat-slide-toggle>
      </div>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
    <div class="dual-controls">
      <button mat-stroked-button routerLink="/">Back to home</button>
      <button mat-flat-button (click)="onLogin()">Login</button>
    </div>
    <!--<button class="login-button" type="submit" (click)="LogData()">Show me</button>-->
  </div>
</div>

<!--
<div class="login-container">
  <h2>Login</h2>
  <form (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input [(ngModel)]="loginRequest.username" id="username" name="username" required type="text">
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input [(ngModel)]="loginRequest.password" id="password" name="password" required type="password">
    </div>

    <div class="form-group">
      <label for="username">Title:</label>
      <input [(ngModel)]="albumData.title" id="title" name="title" required type="text">
    </div>

    <button class="login-button" type="submit">Login</button>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </form>
  <button class="login-button" type="submit" (click)="LogData()">Show me</button>
</div>
-->
