<div class="base-page">
  <div class="flex-controls">
    <button mat-icon-button (click)="emitCancel()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1>Manage Users for<br>{{artist.name}}<br></h1>
  </div>
  <form class="artistForm">
    <div [ngStyle]="{'width':'100%'}">
      <h6>Add users</h6>
      <mat-form-field class="user-to-add" [ngStyle]="{'width':'100%'}">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search for users" name="searchString" id="searchString" [matAutocomplete]="auto" (input)="updateUsers($event)" >
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addUser($event)" [displayWith]="displayUsername">
          @for(u of findUsers; track u.id)
          {
            <mat-option [value]="u">
              {{u.username}}
            </mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>
      <p id="errorMessage">{{errorMessage}}</p>
    </div>

    <div [ngStyle]="{'width':'100%'}">
      <h6>Send invites</h6>
      <div class="flex-list">
        @if (selectedUsers) {
          @for (cu of selectedUsers; track cu.id) {
            <mat-card appearance="outlined">
              <mat-card-content class="flex-content">
                <div class="flex-controls">
                  <button mat-icon-button aria-label="Leave artist profile" (click)="removeFromInviteList(cu)">
                    <mat-icon>remove</mat-icon>
                  </button>
                  <h6>{{ cu.username }}</h6>
                </div>
                <div class="flex-controls">
                  @if (cu.roleId)
                  {
                    <button mat-flat-button (click)="sendInvite(cu)">
                      Invite
                    </button>
                  }
                  <mat-form-field>
                    <label>Role</label>
                    <mat-select (selectionChange)="setRole(cu,$event)">
                      @for (r of roles; track r.id) {
                        <mat-option [value]="r.id">{{r.roleName}}</mat-option>
                      }
                    </mat-select>
                  </mat-form-field>
                </div>
              </mat-card-content>
            </mat-card>
          }
        }
      </div>
    </div>

    <div [ngStyle]="{'width':'100%'}">
      <h6>Manage users</h6>
      <div class="flex-list">
      @if (currentUsers) {
        @for (cu of currentUsers; track cu.id) {
          <mat-card appearance="outlined">
            <mat-card-content class="flex-content">
              <div class="flex-controls">
                <button mat-icon-button aria-label="Leave artist profile" (click)="removeUser(cu)">
                  <mat-icon>person_remove</mat-icon>
                </button>
                <h6>{{ cu.username }}</h6>
              </div>
              <div class="flex-controls">
                @if (cu.rolesChanged)
                {
                  <button mat-flat-button (click)="updateRole(cu)">
                    Save
                  </button>
                }
              <mat-form-field>
                <label>Role</label>
              <mat-select [placeholder]="cu.role.roleName" (selectionChange)="changeRole(cu.id,$event)">
                @for (r of roles; track r.id) {
                  <mat-option [value]="r.roleName">{{r.roleName}}</mat-option>
                }
              </mat-select>
              </mat-form-field>
              </div>
            </mat-card-content>
          </mat-card>
        }
      }
      </div>
    </div>
  </form>
</div>
