<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product List</title>
</head>
<body>
<div class="container">
  <!-- Main Content -->
  <main class="main-content">


    <div class="products">
      <div *ngFor="let product of products" class="product">
        <div *ngIf="!isEditing[product.slug]">
          <img [src]="'http://localhost:7000/media/' + product.photoPaths[product.photoPaths.length - 1]" alt="{{ product.title }}" class="product-image">
          <p class="product-name">{{ product.title }}</p>
          <p class="product-price">{{ updateCalculatedPrice(product)}}$</p>
          <button class="product-button" (click)="toggleEdit(product.slug)">Edit</button>
          <button class="product-button" (click)="deleteProduct(product.slug)">Delete</button>
          <button class="product-button" (click)="viewProduct(product.slug)">View Details</button>
        </div>

        <!-- Edit Mode -->
        <div *ngIf="isEditing[product.slug]">
          <input [(ngModel)]="product.title" class="product-input" placeholder="Title">
          <input [(ngModel)]="product.price" class="product-input" />
          <input [(ngModel)]="product.quantity" class="product-input" type="number" placeholder="Quantity">
          <input [(ngModel)]="product.saleAmount" class="product-input" type="number" placeholder="SaleAmount">
          <input [(ngModel)]="product.bio" class="product-input" placeholder="bio">
          <div class="image-edit">
            <label for="image-upload">Change Image</label>
            <input type="file" id="image-upload" (change)="onImageChange($event, product)">
            <div *ngIf="newImagePreview">
              <p>Preview:</p>
              <img [src]="newImagePreview" alt="Image preview" class="image-preview">
            </div>
          </div>
          <button class="product-button" (click)="saveProduct(product)">Save</button>
          <button class="product-button" (click)="toggleEdit(product.slug)">Cancel</button>
        </div>
      </div>
    </div>
  </main>
</div>


</body>
</html>
