


<div>
  <mat-card class="add-product" appearance="outlined" (click)="goToCreate()">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>New Product</mat-card-title>
        <mat-icon>add_circle</mat-icon>
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content></mat-card-content>
  </mat-card>
</div>
<div class="container">
  <div class="products">

    <div
      *ngFor="let product of products"
      class="product" matTooltip="{{ product.title }}" matTooltipPosition="above"

    >        <div *ngIf="!isEditing[product.slug]">

      <img
        [src]="MyConfig.media_address  + product.photoPaths[product.photoPaths.length - 1]"
        alt="{{ product.title }}"
        class="product-image"
      >
      <div class="product-info">
        <div class="product-title-and-price">
          <p class="product-name hide-overflow">{{ product.title }}</p>
          <p class="product-price">{{ updateCalculatedPrice(product) }}$</p>

        </div>
        <div class="crud-buttons">
          <button class="product-button" (click)="toggleEdit(product)"><mat-icon>edit</mat-icon></button>
          <button class="product-button" (click)="deleteProduct(product.slug)"><mat-icon>delete_forever</mat-icon></button>
          <button class="product-button" (click)="viewProduct(product.slug)"><mat-icon>visibility</mat-icon></button>
        </div>
      </div>

    </div>

    </div>
  </div>


</div>
