* {
  box-sizing: border-box;
  color: white;
}
body, html {
  margin: 0;
  padding: 0;
}
h1, h2, h3 {
  margin-top: 0;
}
.whatever{
  margin: 0;
}
.header-info {
  padding-top: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: flex-start;
}
p { margin: 0}
.number{
  font-weight: bold;
  font-size: 2em;
  margin-top: 2.25vw;
  justify-content: center;
}

.chart-section {
  margin-top: 0.5vw;
}
.text {
  position: relative;
  justify-content: center;
  align-items: center;
}


.charts-container {
  display: flex;
  flex-direction: column;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 80vh;
}


.chart-section h3 {
  margin-bottom: 15px;
}

canvas {
  background-color: rgba(22, 18, 21, 0.72);
  color:white;
}

.info-icon {
  position: absolute;
  top: 0.5vw;
  right: 0.5vw;
  font-size: 22px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.info-icon:hover {
  color: #e6e6e6;
}


canvas {
  width: 30vw;
  height: 15vw;
  margin: 0 auto;
  border-radius: 15px;
  color: white;
}
.change-data {
  position: absolute;
  top: 1.25vw;
  right: 0.25vw;
  display: flex;
  align-items: center;
}

.change-icon {
  cursor: pointer;
  margin: 0 5px;
  font-size: 20px;
  color: #fff;
}

.table-title {
  position: relative;
  font-size: 1.5em;
}
table tbody tr {
  transition: all 0.5s ease;
}
.number-title{
  margin-top: 1vw;
  font-weight: 421;
  font-size: 0.75em;
}
.header-item {
  text-align: center;
  display:flex;
  flex-direction: column;
  font-size: 2.35rem;
  background-color: rgba(22, 18, 21, 0.72);
  width: 30vw;
  height: 10.5vw;
  border-radius:20px;
  padding: 0;
  margin-top: 0.2vw;
}

h1, h2, h3 {
  margin: 0;
}

.table-section {
  width: 30vw;
  height: 42vh;
  position: relative;
  background-color: rgba(22, 18, 21, 0.72);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-sizing: border-box;
  padding: 1vh;
  transition: background-color 0.25s ease-in-out;
  margin-top: 0.5vw;
  margin-right: 0.2vw;
  overflow:hidden;
}


ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 10px;
}
.dashboard-tables{
  display: flex;
  justify-content: space-between;
}
.graph-row{
  display: flex;
  justify-content: space-between;

}
.table-title{
  margin-left: 0.5vw;
  font-size: 1.9em;
  font-weight: bold;
  text-transform: uppercase;
}
.table-part{
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5vw;
  display: flex;
  margin-left:1vw;
}
.percentage-growth {
  font-size: 0.50em;
}

.positive-growth {

  color: #07bd07;
  font-size: 0.4em;
}

.negative-growth {
  color: #ae0017;
  font-size: 0.5em;
}
table {
  width:98%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(221, 221, 221, 0.11);
}

th {
  background-color: rgba(51, 51, 51, 0.35);
  color: white;
}

.growth-indicator {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

}
