<div *ngIf="!loading && artistDashboardData" class="whatever" [@fadeInOut]>


  <section class="header-info">
    <div class="header-item">
      <div class="text">
        <p class="number-title">STREAMS</p>
        <mat-icon
          matTooltip="Percentage results are based on this week in comparison with last weeks growth only, not overall."
          matTooltipPosition="below"
          class="info-icon"
        >
          help_outline
        </mat-icon>
        <p class="number">{{ artistDashboardData.totalStreams }}</p>
        <div class="growth-indicator">
          <mat-icon
            *ngIf="artistDashboardData.streamGrowth"
            style="color: #07bd07; font-size: 30px; width: 30px; height: 30px;"
            class="green-arrow">arrow_outward</mat-icon>

          <mat-icon *ngIf="!artistDashboardData.streamGrowth"
                    style="color: #ae0017; font-size: 30px; width: 30px; height: 30px;"
                    class="red-arrow">call_received</mat-icon>

          <span class="percentage-growth" [ngClass]="{
            'positive-growth': artistDashboardData.streamGrowth,
            'negative-growth': !artistDashboardData.streamGrowth
          }">
            {{ artistDashboardData.streamGrowth ? '+' : '-' }}{{ artistDashboardData.streamGrowthPercentage | number:'1.0-0' }}%
          </span>
        </div>
      </div>
    </div>

    <div class="header-item">
      <div class="text">
        <p class="number-title">FOLLOWERS</p>
        <mat-icon
          matTooltip="Percentage results are based on this week in comparison with last weeks growth only, not overall."
          matTooltipPosition="below"
          class="info-icon"
        >
          help_outline
        </mat-icon>
        <p class="number">{{ artistDashboardData.totalFollowers }}</p>
        <div class="growth-indicator">
          <mat-icon
            *ngIf="artistDashboardData.followerGrowth"
            style="color: #07bd07; font-size: 30px; width: 30px; height: 30px;"
            class="green-arrow">arrow_outward</mat-icon>

          <mat-icon *ngIf="!artistDashboardData.followerGrowth"
                    style="color: #ae0017; font-size: 30px; width: 30px; height: 30px;"
                    class="red-arrow">call_received</mat-icon>

          <span class="percentage-growth" [ngClass]="{
            'positive-growth': artistDashboardData.followerGrowth,
            'negative-growth': !artistDashboardData.followerGrowth
          }">
            {{ artistDashboardData.followerGrowth ? '+' : '-' }}{{ artistDashboardData.followerGrowthPercentage | number:'1.0-0' }}%
          </span>
        </div>
      </div>
    </div>

    <div class="header-item">
      <div class="text">
        <p class="number-title">REVENUE</p>
        <mat-icon
          matTooltip="Percentage results are based on this week in comparison with last weeks growth only, not overall."
          matTooltipPosition="below"
          class="info-icon"
        >
          help_outline
        </mat-icon>
        <p class="number">{{ artistDashboardData.totalRevenueAllProducts | number:'1.2-2' }}€</p>
        <div class="growth-indicator">
          <mat-icon
            *ngIf="artistDashboardData.revenueGrowth"
            style="color: #07bd07; font-size: 30px; width: 30px; height: 30px; "
            class="green-arrow">arrow_outward</mat-icon>
          <mat-icon  *ngIf="!artistDashboardData.revenueGrowth"
                     style="color: #ae0017; font-size: 30px; width: 30px; height: 30px;"
                     class="red-arrow">call_received</mat-icon>

          <span class="percentage-growth" [ngClass]="{
            'positive-growth': artistDashboardData.revenueGrowth,
            'negative-growth': !artistDashboardData.revenueGrowth
          }">
            {{ artistDashboardData.revenueGrowth ? '+' : '-' }}{{ artistDashboardData.revenueGrowthPercentage | number:'1.0-0' }}%
          </span>
        </div>
      </div>
    </div>
  </section>



  <div class="dashboard-tables">
    <section class="table-section">
      <h2 class="table-title">Last 5 Streams</h2>
      <table>
        <thead>
        <tr>
          <th>Track Title</th>
          <th>Streamed</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let stream of artistDashboardData.lastStreams">
          <td>{{ stream.trackTitle }}</td>
          <td>{{ moment(stream.streamedAt).fromNow() }}</td>
        </tr>
        </tbody>
      </table>
    </section>

    <section class="table-section">
      <h2 class="table-title" [@fadeInOut]>Last 5 Followers</h2>
      <table>
        <thead>
        <tr>
          <th>Follower</th>
          <th>Followed</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let follower of artistDashboardData.followers">
          <td>{{ follower.followerName }}</td>
          <td>{{ moment(follower.startedFollowing).fromNow() }}</td>
        </tr>
        </tbody>
      </table>
    </section>
    <section class="table-section">
      <h2 class="table-title">{{ getTableTitle() }}</h2>

      <span class="change-data">
      <mat-icon (click)="prevDataType()" class="change-icon">arrow_back_ios_new</mat-icon>
      <mat-icon (click)="nextDataType()" class="change-icon">arrow_forward_ios</mat-icon>
    </span>

      <table>
        <thead>
        <tr>
          <th>Product Title</th>
          <th>Quantity Sold</th>
          <th>Total Revenue</th>
        </tr>
        </thead>
        <tbody *ngIf="artistDashboardData && selectedDataType" >
        <tr *ngFor="let sale of artistDashboardData[selectedDataType]">
          <td [@fadeInOut]>{{ sale.productTitle }}</td>
          <td [@fadeInOut]>{{ sale.quantitySold}}</td>
          <td [@fadeInOut]>{{ sale.totalRevenue| currency }}</td>
        </tr>
        </tbody>
      </table>
    </section>

  </div>
  <div class="graph-row">

    <section id="streams-section" class="chart-section">
      <canvas id="streamsChart"></canvas>
    </section>

    <section id="followers-section" class="chart-section">
      <canvas id="followersChart"></canvas>
    </section>

    <section id="revenue-section" class="chart-section">
      <canvas id="revenueChart"></canvas>
    </section>
  </div>
</div>
<div *ngIf="loading">Loading...</div>
<div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
