<div class="subscribe-please">

  <div class="text">

    <h3>We're sorry!</h3>
  <p>At 808 Music, we strive to create a fair and balanced platform for both artists and listeners.</p>
  <p>Our subscription model ensures that artists receive the recognition and compensation they truly deserve for their incredible work.</p>
  <p>Explore our pricing plans to find the perfect fit for your needs. If none align with you, feel free to continue exploring our platform.</p>
    <p>Your support, in any form, helps us build a better community for music lovers and creators alike.</p>

    <div class="buttons">
  <button mat-flat-button color="primary" (click)="goToSubscriptions()">
Subscriptions</button>
  <button mat-flat-button color="accent" (click)="dismiss()">
Keep browsing  </button></div>
  </div>
</div>
