* {
  color:white;
}
.logo-image{
  width: 15vw;
}
.subscribe-please {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  padding: 1vh;
  width: 100%;
}
h3 {
  margin: 0;
  font-weight: bold;
  margin-bottom: 1vw;
}.text{
   align-items: center;
  padding: 35px;

 }
.buttons{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.mat-accent{
  background-color: #9f9f9f;
  color: #fff;
}
.second-button{
  width: 8vw;
  height: 2.5vw;
  border: none;
  font-weight: 444;
  font-size: 1em;
  border-radius: 25px;
  cursor: pointer;
  color: #642a95;
  background-color: #a075c8;
}
.first-button{
  width: 8vw;
  height: 2.5vw;
  border: none;
  font-weight: 744;
  font-size: 1em;
  border-radius: 25px;
  cursor: pointer;
  color: #842591;
  background-color: #e692f8;
}
.first-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.second-button:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
