* {
  color:white;
}
.logo-image{
  width: 15vw;
}
.subscribe-please {
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
  padding: 1vh;
  width: 100%;
}
h3 {
  margin: 0;
  font-weight: bold;
  margin-bottom: 1vw;
}.text{
   align-items: center;
  padding: 35px;

 }
.buttons{
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.mat-accent{
  background-color: #9f9f9f;
  color: #fff;
}
