<div class="tracks-page">
  <div class="tracks-list" [ngStyle]="isHome ? {'flex-basis':'100vw'} : {}">
    <div class="track-page-controls">
      <button mat-icon-button class="go-back-button" (click)="goBack()">
        <mat-icon class="go-back-arrow">arrow_back</mat-icon>
      </button>
      @if(artistMode)
      {
        <div class="dual-control">
          <button mat-stroked-button>Cancel</button>
          <button mat-flat-button>Save changes
            <mat-icon>save</mat-icon>
          </button>
        </div>
      }
    </div>

    <div class="album-info">
      <div class="album-cover" [ngStyle]="{'background-image': 'url('+MyConfig.api_address+album?.coverPath+')'}"></div>

      <div class="album-details">
        <mat-icon>
          @if (isAlbumExplicit())
          {
            explicit
          }
        </mat-icon>
        <div>
          <h2 class="album-title">{{ album?.title }}</h2>
          <h6>{{album?.type?.type}} • {{getYear()}}</h6>
          <p>{{album?.numOfTracks}} tracks • {{album?.lengthInSeconds | longDurationString}}</p>
        </div>
        <app-artist-small-card [artist]="artist"></app-artist-small-card>
      </div>
    </div>

    <!-- Modal za odabir playlisti -->
    <div class="track-item" *ngFor="let track of tracks">
      <div class="track-details">
        <span>{{ track.title }}</span>
        <button mat-icon-button (click)="openTrackMenu(track)">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </div>


    <app-tracks-table [pagedRequest]="pagedRequest" (onMainClick)="editTrack($event)" [inArtistMode]="artistMode" (onCreateClick)="addNew()" [reload]="reloadTable"></app-tracks-table>
  </div>
  @if (artistMode) {
    <div class="side-island" [ngStyle]="isHome ? {'flex-basis':'0'} : {}">
      <router-outlet></router-outlet>
    </div>
  }
</div>

