* {
  box-sizing: border-box;
  color: white;
}

.base-page {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding: 3vh;
  padding-left: 0;
  padding-top: 0;
}

.routed-content {
  flex-basis: 69vw;
  padding-top: 3vh;
  height: 98vh;
  overflow-y: auto;
}

.player {
  height: 98vh;
  overflow-y: auto;
  padding-top: 1vh;
box-sizing: border-box;
}
